.footer_wrapper {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.f_container {
  padding: 10px;
  background: #00b5ad;
}
.nav_footer {
  display: block;
}
.nav_footer_list {
  list-style: none;
  // padding: 10px;
  float: left;
}
.nav_footer_list li {
  font-size: 20px;
  padding: 20px;
  display: inline-block;
  text-align: left;
}
.nav_footer_list li a {
  color: #000000;
  float: left;
}
.social_media_icon {
  text-align: right;
}
.social_media_icon .meida_icon {
  list-style: none;
}
.meida_icon a i {
  color: #000000;
  font-size: 30px;
  padding: 20px;
  margin-right: 20px;
}
.meida_icon a i:hover {
  color: #0779e4;
  text-decoration: none;
}
.section_devider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.copy_right {
  padding: 10px;
  display: block;
}
.copy_right p {
  color: #000000;
  font-size: 18px;
  text-align: center;
}
.copy_right span {
  color: #056674;
}

.notification {
  // padding: 20px;
}
